---
import ToggleButton from "./ToggleButton.astro";
interface Props {
  buttonDescription: string;
  id: string;
}

const { buttonDescription, id } = Astro.props;
---

<div
  class="group grid h-9 w-full grid-cols-3 place-items-start items-center justify-start bg-transparent pl-2"
>
  <ToggleButton idProps={id} />
  <div class="col-span-2 w-fit text-left text-base font-semibold">
    {buttonDescription}
  </div>
</div>
