---
interface Props {
  buttonDecription: string;
}

const { buttonDecription } = Astro.props;
---

<div class="flex w-full flex-wrap items-center gap-10">
  <slot />
  <div class="w-fit text-left text-base font-semibold">
    {buttonDecription}
  </div>
</div>
