---
import SettingPopup from "../SettingPopup.astro";
import { Settings } from "lucide-astro";
---

<button
  id="setting-btn"
  class="group relative flex w-fit flex-nowrap rounded border
  border-black/15 py-1.5 pl-8 pr-3 transition-opacity
  duration-500 ease-in-out hover:bg-black/5 hover:text-black
  focus-visible:bg-black/5 focus-visible:text-black dark:border-white/20
  dark:hover:bg-white/5 dark:hover:text-white dark:focus-visible:bg-white/5
  dark:focus-visible:text-white"
>
  <Settings
    class="absolute left-2 top-1/4 size-4 transition-transform duration-300 ease-in-out group-hover:-rotate-90"
  />
  <div class="text-sm">Setting</div>
</button>

<script is:inline>
  const settingBtn = document.getElementById("setting-btn");
  const modal = document.getElementById("setting-popup");

  function SetModalVisibilities() {
    const visible = modal?.classList.contains("opacity-100");
    modal?.classList.remove(visible ? "opacity-100" : ("opacity-0", "disable"));
    modal?.classList.add(visible ? ("opacity-0", "disable") : "opacity-100");
  }

  settingBtn?.addEventListener("click", () => {
    console.log("Setting Clicked");
    SetModalVisibilities();
  });
</script>
