---
import SettingPopup from "../SettingPopup.astro";
import { Settings } from "lucide-astro";
---

<button
  id="setting-btn"
  class="group flex size-12 items-center justify-center rounded-full border border-black/15 hover:bg-black/5 focus-visible:bg-black/5 dark:border-white/20 dark:hover:bg-white/5 dark:focus-visible:bg-white/5"
>
  <Settings
    class="size-6 transition-transform duration-300 ease-in-out group-hover:-rotate-90"
  />
</button>

<script is:inline>
  const settingBtn = document.getElementById("setting-btn");
  let settingModal = document.getElementById("setting-popup");

  function SetModalVisibilities() {
    const visible = settingModal?.classList.contains("modal-enable");
    const others = document.getElementsByClassName("modal-enable");
    for (var i = 0; i < others.length; i++) {
      if (others[i] == settingModal) continue;
      console.log(others[i] == settingModal);

      //disable every others modal
      others[i]?.classList.remove("modal-enable");
      others[i]?.classList.add("modal-disable");
    }
    settingModal?.classList.remove(visible ? "modal-enable" : "modal-disable");
    settingModal?.classList.add(!visible ? "modal-enable" : "modal-disable");
  }
  settingBtn?.addEventListener("click", () => {
    console.log("Setting Clicked");
    settingModal = document.getElementById("setting-popup");
    SetModalVisibilities();
  });
</script>
