---
// This should be a toggle btn
---

<label class="group relative inline-block h-[38px] w-[64px]">
  <input
    id="is-progress-shown"
    class="group h-0 w-0 opacity-0"
    type="checkbox"
    onchange="ChangeProgressBarVisibility(this.checked)"
    checked
  />
  <span
    class="slider round group border-2 border-black bg-white after:bg-black dark:border-white dark:bg-black after:dark:bg-white"
  ></span>
</label>

<script is:inline>
  const progressBar = document.getElementById("progress-bar-container");
  function ChangeProgressBarVisibility(visisle) {
    if (visisle) {
      progressBar?.classList.remove("invisible");
      return;
    }
    progressBar?.classList.add("invisible");
  }
</script>
<style>
  /* The slider */

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition-duration: 0.5s;
  }

  .slider:after {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    transition-duration: 0.5s;
  }

  input:checked + .slider {
    background-color: green;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px green;
  }

  input:checked + .slider:after {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:after {
    border-radius: 50%;
  }
</style>
