@keyframes slideLeft {
	from {
		transform: translateX(30px);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slideRight {
	from {
		transform: translateX(-30px);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

.slide-left {
	animation: slideLeft 0.3s ease-out forwards;
}

.slide-right {
	animation: slideRight 0.3s ease-out forwards;
}