---
import Container from "@components/Container.astro";
import { SITE } from "@consts";
import DarkModeControl from "./DarkModeControl.astro";
---

<footer class="animate">
  <Container>
    <div class="flex items-center justify-between">
      <div class="flex flex-col items-start justify-center">
        <p>
          &copy; {new Date().getFullYear()} • {SITE.TITLE}
        </p>
      </div>
    </div>
  </Container>
</footer>
