---

---

<div
  id="setting-popup"
  class="group invisible
  relative flex h-[70%] w-96 border-spacing-2
  justify-center place-self-center self-center
  rounded-md border-2 border-black/15
  bg-black py-1.5 pl-8
  pr-3 transition-opacity duration-500
  ease-in-out focus-visible:opacity-100 dark:border-white/20"
>
  <!-- Functionalities goes here -->
</div>
