---
import HomeButton from "./Buttons/HomeButton.astro";
import DarkModeControl from "./DarkModeControl.astro";
import ButtonAndDescriptionWrapper from "./Buttons/Template/ButtonAndDescriptionWrapper.astro";
import DownloadResumeButton from "./Buttons/DownloadResumeButton.astro";
import MyInfoButton from "./Buttons/MyInfoButton.astro";
import ShowProgressButton from "./Buttons/ShowProgressButton.astro";
import GoToBlogButton from "./Buttons/GoToBlogButton.astro";
---

<div
  id="setting-popup"
  class="modal-disable group fixed bottom-[30%] left-[75%]
  z-10
  flex h-fit w-[20%] min-w-fit border-spacing-2 flex-col justify-around gap-6
  rounded-md border-2
  border-zinc-950 bg-white py-1.5
  pl-8 pr-3 align-bottom
  transition-opacity duration-500
  ease-in-out dark:border-white/50 dark:bg-black"
>
  <div
    id="nav-section"
    class="mt-6 flex flex-col items-center justify-around gap-5"
  >
    <div id="nav-section-text" class="w-full text-left text-lg font-bold">
      Navigation
    </div>
    <hr class="h-1 w-full border-black/20 dark:border-white/20" />
    <div class="flex w-full flex-col items-center justify-around gap-5">
      <!-- Functionalities goes here -->
      <HomeButton />
      <GoToBlogButton />
      <MyInfoButton />
      <DownloadResumeButton />
    </div>
  </div>
  <div
    id="settings-section"
    class="mb-6 flex flex-col items-center justify-around gap-5"
  >
    <div id="settings-section-text" class="w-full text-left text-lg font-bold">
      Settings
    </div>
    <hr class="h-1 w-full border-black/20 dark:border-white/20" />
    <div class="flex w-full flex-col items-center justify-around gap-5">
      <DarkModeControl />
      <ShowProgressButton />
    </div>
  </div>
</div>
