---
import BackToTop from "./Buttons/BackToTop.astro";
import Container from "./Container.astro";
import SettingButton from "./Buttons/SettingButton.astro";
import SettingPopup from "./SettingPopup.astro";
---

<header
  transition:persist=""
  class="fixed left-[85%] top-[10%] h-[90vh] max-h-screen w-[15%] bg-transparent"
>
  <div
    id="sidebar-container"
    class="justify-items-left mx-10 flex
    h-full flex-col place-items-end justify-evenly bg-transparent text-center align-bottom"
  >
    <SettingPopup />
    <SettingButton />
    <BackToTop />
  </div>
</header>
