---
import BackToTop from "./BackToTop.astro";
import Container from "./Container.astro";
---

<header
  transition:persist=""
  class="fixed left-[90%] right-0 top-[10%] h-[90vh] max-h-screen w-[25%]"
>
  <div class="h-full">
    <BackToTop />
  </div>
</header>
