---
import BackToTop from "./Buttons/BackToTop.astro";
import Container from "./Container.astro";
import SettingButton from "./Buttons/SettingButton.astro";
import SettingPopup from "./SettingPopup.astro";
---

<header
  transition:persist
  class="fixed left-[90%] top-[10%] z-10 h-[90vh] max-h-screen w-[15%] bg-transparent dark:bg-transparent"
>
  <div
    id="sidebar-container"
    class="mb-64 flex h-[95%]
    flex-col place-items-center justify-end justify-items-center gap-12 bg-transparent text-center align-bottom dark:bg-transparent"
  >
    <SettingButton />
    <BackToTop />
  </div>
</header>
