---
export const prerender = true;
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import PageFind from "@components/PageFind.astro";
import { SITE } from "@consts";
import Sidebar from "@components/Sidebar.astro";

type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <Head title={`${title} | ${SITE.TITLE}`} description={description} />
  </head>
  <body>
    <Header />
    <main>
      <div class="custom-grid gap-2">
        <!-- Empty div to fill first column  -->
        <div></div>
        <div class="col-span-1">
          <slot />
        </div>
        <Sidebar />
      </div>
    </main>
    <Footer />
    <PageFind />
    <slot name="scripts" />
    <style>
      .custom-grid {
        display: grid;
        grid-template-columns: 0.1fr 0.8fr 0.1fr;
        gap: 5px;
      }
    </style>
  </body>
</html>
