---
export const prerender = true;
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import PageFind from "@components/PageFind.astro";
import { SITE } from "@consts";
import Sidebar from "@components/Sidebar.astro";
import SettingPopup from "@components/SettingPopup.astro";

type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <Head title={`${title} | ${SITE.TITLE}`} description={description} />
  </head>
  <body class="relative">
    <Header />
    <Sidebar />
    <div id="modal-container" class="fixed z-50 flex">
      <SettingPopup />
    </div>

    <main class="relative">
      <slot />
    </main>
    <Footer />
    <PageFind />
    <slot name="scripts" />
  </body>
</html>
